<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <!--CSS-->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!--Metadatos-->
    <meta charset="UTF-8" />
    <meta name="author" content="moda" />
    <meta name="description" content="moda cursos diseño" />
    <meta name="keywords" content="Diseño, moda, tendencia, modelaje" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Distraction</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="../../favicon.svg" />

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    
  
<!--Titulo principal-->

<header class="header-principal">
    <nav class="container-fluid navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <div
          class="container container-sm container-md container-lg d-flex justify-content-between"
        >
          <div class="d-flex align-items-center">
            <button
              class="navbar-toggler d-md-none"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasDarkNavbar"
              aria-controls="offcanvasDarkNavbar"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="titulo-principal text-white text-center">
              DISTRACTION
            </h1>
          </div>
          <!-- Contenido visible en pantallas medianas y grandes  -->
          <div class="d-none d-md-flex">
            <ul class="contenedor-listas navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../../index.html">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../otros/nosotros.html"
                  >NOSOTROS</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../otros/blog.html">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../otros/login.html"
                  >CONTACTO</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="bi bi-linkedin"></i>
                  <i class="bi bi-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- Menú offcanvas -->
    <div
      class="offcanvas offcanvas-start text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
      style="width: 50%"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
          DISTRACTION
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="contenedor-listas-boton navbar-nav flex-column">
          <li class="nav-item">
            <a class="nav-link activo" href="../../index.html">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../otros/nosotros.html">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../otros/blog.html">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link activo" href="../otros/login.html"
              >CONTACTO</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  
  <main class="container seccion-privacidad">

    <h2 class="text-center">Política de Privacidad</h2>
    <section>
      <h3>1. Información que Recopilamos</h3>
      <p>En [Nombre de la Empresa], respetamos su privacidad y nos comprometemos a proteger sus datos personales. Recolectamos información cuando interactúa con nuestro sitio web, como su nombre, dirección de correo electrónico y detalles de contacto.</p>
    </section>

    <section>
      <h3>2. Uso de la Información</h3>
      <p>Utilizamos la información recopilada para mejorar nuestros servicios y personalizar su experiencia. Podemos enviarle comunicaciones relacionadas con nuestros servicios, como actualizaciones y promociones.</p>
    </section>

    <section>
      <h3>3. Compartir Información</h3>
      <p>No compartimos su información personal con terceros sin su consentimiento, excepto en casos requeridos por la ley o para cumplir con nuestras obligaciones contractuales. No vendemos, alquilamos ni compartimos su información con anunciantes ni socios comerciales.</p>
    </section>

    <section>
      <h3>4. Seguridad de Datos</h3>
      <p>Implementamos medidas de seguridad para proteger su información contra acceso no autorizado o divulgación. Sin embargo, tenga en cuenta que ninguna transmisión por Internet es completamente segura y no podemos garantizar la seguridad de la información transmitida a través de nuestro sitio.</p>
    </section>

    <section>
      <h3>5. Cambios en la Política</h3>
      <p>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Los cambios serán efectivos a partir de su publicación en esta página. Le recomendamos revisar periódicamente esta política para mantenerse informado sobre cómo protegemos su información.</p>
    </section>

    <section>
      <h3>6. Contacto</h3>
      <p>Si tiene preguntas o inquietudes acerca de nuestra Política de Privacidad, no dude en ponerse en contacto con nosotros a través de la dirección de correo electrónico [correo@example.com].</p>
    </section>

    <section>
      <h3>7. Uso de Cookies</h3>
      <p>Utilizamos cookies y tecnologías similares para mejorar su experiencia en nuestro sitio web. Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita nuestro sitio. Estas cookies nos permiten reconocerlo y personalizar su experiencia, así como recopilar información sobre cómo interactúa con nuestro sitio.
      Puede configurar su navegador para rechazar todas las cookies o para indicar cuándo se está enviando una cookie. Sin embargo, algunas funciones de nuestro sitio pueden no funcionar correctamente si deshabilita las cookies.</p>
    </section>

    <section>
      <h3>8. Consentimiento</h3>
      <p>Al utilizar nuestro sitio web, usted acepta nuestra Política de Privacidad y el uso de cookies. Si no está de acuerdo con nuestra política, le recomendamos que no utilice nuestro sitio y se abstenga de proporcionar información personal.</p>
    </section>

    <section>
      <h3>9. Menores de Edad</h3>
      <p>Nuestro sitio web no está dirigido a personas menores de 18 años. No recopilamos a sabiendas información personal de menores. Si tiene menos de 18 años, no utilice nuestro sitio ni proporcione información personal sin el consentimiento de sus padres o tutores legales.</p>
    </section>
    
    
  </main>




  <footer class="container-fluid bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Acerca de Nosotros</h3>
          <p>
            Somos una agencia creativa dedicada a ofrecer soluciones digitales
            innovadoras para tu negocio.
          </p>
        </div>
        <div class="col-md-3">
          <h3>Contacto</h3>
          <p><i class="fas fa-map-marker-alt"></i> A Coruña, Galicia</p>
          <p><i class="fas fa-phone"></i> +34 633 381 865</p>
          <p><i class="fas fa-envelope"></i> mariagustina.rod@gmail.com</p>
        </div>
        <div class="col-md-3">
          <h3>Enlaces Útiles</h3>
          <ul class="list-unstyled">
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="../otros/login.html">Contacto</a></li>
            <li><a href="privacidad.html">Política de Privacidad</a></li>
            <li><a href="terminos.html">Términos y Condiciones</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Síguenos</h3>
          <div class="footer-social">
            <a href="#"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 Todos los derechos reservados Agustina Rodiño</p>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"
  ></script>
</body>
</html>