<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <!--CSS-->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!--Metadatos-->
    <meta charset="UTF-8" />
    <meta name="author" content="moda" />
    <meta name="description" content="moda cursos diseño" />
    <meta name="keywords" content="Diseño, moda, tendencia, modelaje" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Distraction</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="../../favicon.svg" />

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--Titulo principal-->
    <header class="servicios-header container-fluid">
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <div
            class="container container-sm container-md container-lg d-flex justify-content-between"
          >
            <div class="d-flex align-items-center">
              <button
                class="navbar-toggler d-md-none"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <h1 class="titulo-principal text-white text-center">
                DISTRACTION
              </h1>
            </div>
            <!-- Contenido visible en pantallas medianas y grandes  -->
            <div class="d-none d-md-flex">
              <ul class="contenedor-listas navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="../../index.html">INICIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../otros/nosotros.html"
                    >NOSOTROS</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../otros/blog.html">BLOG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../otros/login.html"
                    >INICIAR SESIÓN</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <!-- Menú offcanvas -->
      <div
        class="offcanvas offcanvas-start text-bg-dark"
        tabindex="-1"
        id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel"
        style="width: 50%"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
            DISTRACTION
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="contenedor-listas-boton navbar-nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="../../index.html">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../otros/nosotros.html">NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../otros/blog.html">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../otros/login.html"
                >INICIAR SESIÓN</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <section class="container main-section-sevicios">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 text-center text-md-end">
            <p class="fs-1 animated-text">
              Crearemos sitios web impactantes y de vanguardia para impulsar el
              crecimiento de tu empresa
            </p>
          </div>
          <div
            class="col-lg-6 col-md-12 d-flex justify-content-center mt-4 mt-md-0 imagen-diseño"
          >
            <img
              class="img-fluid rounded-circle animated-image"
              src="../../assets/img/seccion-responsiva.webp"
              alt=""
            />
          </div>
        </div>
      </section>
    </header>

    <section class="section-diseño container">
      <div class="row titulo-diseño justify-content-center">
        <h2>Trabajamos con un proceso establecido y ordenado</h2>
      </div>
      <div class="row justify-content-center containe secion-diseño-contenido">
        <div class="col12 col-md-4">
          <h3>1</h3>
          <p>Examinamos tu empresa y su proyección en la esfera digital.</p>
        </div>
        <div class="col12 col-md-4">
          <h3>2</h3>
          <p>
            Te asesoramos para obtener beneficios tanto en el mundo online como
            en el mundo real a través de tu sitio web.
          </p>
        </div>
        <div class="col12 col-md-4">
          <h3>3</h3>
          <p>
            Colaboramos para validar la propuesta de diseño y los contenidos que
            deseas comunicar.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <p class="podemos">¡Ponemos tu sitio web online!</p>
      </div>
    </section>

    <!--Beneficios-->

    <section class="section-beneficios container-fluid">
      <div class="row beneficios">
        <!-- Card 1 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card shadow">
            <div class="card-body d-flex iconos-card">
              <div class="">
                <h3 class="card-title text-center">
                  Construyendo Identidad y Profesionalismo en la Web
                </h3>
                <p class="card-text">
                  Potenciando lo que somos, lo que hemos hecho y sabemos.
                  Nuestro sitio web es una verdadera extensión de nuestra
                  empresa, por eso es crucial crear un proyecto excepcional que
                  nos represente a la perfección.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card shadow">
            <div class="card-body d-flex iconos-card">
              <div class="">
                <h3 class="card-title text-center">
                  Potenciamos tus Productos y Servicios
                </h3>
                <p class="card-text">
                  Tu empresa cuenta con una amplia variedad de productos o
                  servicios vendibles, y nuestro sitio web es la herramienta
                  ideal para comunicar y exhibir detalladamente cada oferta.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card shadow">
            <div class="card-body d-flex iconos-card">
              <div class="">
                <h3 class="card-title text-center">Maximiza la Visibilidad</h3>
                <p class="card-text">
                  Cuando alguien descubre tu empresa, es probable que realice
                  búsquedas en Google y otros motores de búsqueda. Por ello,
                  implementamos las mejores estrategias para asegurarnos de que
                  tu negocio sea encontrado con facilidad.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->

        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card shadow">
            <div class="card-body d-flex iconos-card">
              <div class="">
                <h3 class="card-title text-center">Empodera Tu Gestión Web</h3>
                <p class="card-text">
                  Hay distintos tipos de páginas web, algunas con contenido
                  estático y otras que necesitan actualizarse periódicamente.
                  Por eso, impulsamos que puedas gestionar fácilmente el
                  contenido dinámico por ti mismo, dándote el control total
                  sobre tu sitio web.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 5 -->

        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card shadow">
            <div class="card-body d-flex iconos-card">
              <div class="">
                <h3 class="card-title text-center">
                  Conexión en Redes Sociales
                </h3>
                <p class="card-text">
                  Para competir de manera efectiva es esencial mantener una
                  conexión directa con la principal herramienta de comunicación
                  online, WhatsApp, y las redes sociales más adecuadas para tu
                  negocio, como Facebook, Instagram, entre otras
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 6 -->

        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card shadow">
            <div class="card-body d-flex iconos-card">
              <div class="">
                <h3 class="card-title text-center">
                  Optimizado para Dispositivos
                </h3>
                <p class="card-text">
                  Las estadísticas revelan que la navegación online se realiza a
                  través de dispositivos. Aseguramos que tu sitio web
                  esté optimizado para ser accesible y tener un
                  rendimiento excepcional en dispositivos móviles, PCs de
                  escritorio y tablets.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="seccion-formulario container container-form">
      <h2 class="text-center">Comunicate con Nosotros</h2>
      <form>
        <div class="row mb-3">
          <div class="col-md">
            <label for="nombreCompleto" class="form-label"
              >Nombre Completo</label
            >
            <input
              type="text"
              class="form-control"
              id="nombreCompleto"
              placeholder="Nombre y Apellido"
            />
          </div>
          <div class="col-md">
            <label for="empresa" class="form-label">Empresa</label>
            <input
              type="text"
              class="form-control"
              id="empresa"
              placeholder="Nombre de la Empresa"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <label for="correoElectronico" class="form-label"
              >Correo Electrónico</label
            >
            <input
              type="email"
              class="form-control"
              id="correoElectronico"
              placeholder="correo@example.com"
            />
          </div>
          <div class="col-md">
            <label for="telefono" class="form-label">Teléfono</label>
            <input
              type="tel"
              class="form-control"
              id="telefono"
              placeholder="Número de Teléfono"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <label for="proyecto" class="form-label"
              >Contanos brevemente de tu proyecto</label
            >
            <textarea class="form-control" id="proyecto" rows="3"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-secondary">Contactarse</button>
      </form>
    </section>

    <!-- Botón de WhatsApp -->
    <a
      href="https://api.whatsapp.com/send?phone=TUNUMERODETELEFONO"
      target="_blank"
      class="whatsapp-button"
    >
      <i class="bi bi-whatsapp"></i>
    </a>

    <footer class="container-fluid bg-dark text-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Acerca de Nosotros</h3>
            <p>
              Somos una agencia creativa dedicada a ofrecer soluciones digitales
              innovadoras para tu negocio.
            </p>
          </div>
          <div class="col-md-3">
            <h3>Contacto</h3>
            <p>
              <i class="fas fa-map-marker-alt"></i> 123 Calle Principal, Ciudad
            </p>
            <p><i class="fas fa-phone"></i> +123 456 7890</p>
            <p><i class="fas fa-envelope"></i> info@example.com</p>
          </div>
          <div class="col-md-3">
            <h3>Enlaces Útiles</h3>
            <ul class="list-unstyled">
              <li><a href="../../index.html">Inicio</a></li>
              <li><a href="../otros/login.html">Contacto</a></li>
              <li><a href="privacidad.html">Política de Privacidad</a></li>
              <li><a href="terminos.html">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Síguenos</h3>
            <div class="footer-social">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <div class="col-md-12 text-center">
            <p>&copy; 2023 Todos los derechos reservados</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
