
*{
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
p{
  font-family: 'Lato', sans-serif;
  color: #454546; 
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
  color: #454546; 
}

/**Header**/
.titulo-principal{
  padding-left: 20px;
}
.contenedor-listas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
}
.contenedor-listas li a, 
.contenedor-listas-boton li a{
  font-size: 20px;
}
.contenedor-listas-boton li a{
  margin-bottom: 20px;
}
/* Estilo personalizado para el enlace activo */
.contenedor-listas li .activo {
  font-weight: bold;
  font-size: 25px;
}
.contenedor-listas li a i, 
.contenedor-listas-boton li a i{
  font-size: 20px;
  border: #ddd 2px solid;
  padding: 8px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
}
.contenedor-listas li a i:last-child, 
.contenedor-listas-boton li a i:last-child{
  margin-left: 8px;
}
.contenedor-listas li a i:hover, 
.contenedor-listas-boton li a i:hover{
  background-color: rgba(255, 255, 255, 0.6);
}
.contenedor-listas-boton li a:hover{
  color: #343a40;
}
.header-principal{
  position: relative;
}
/** Posicion primer section **/

.hero, .seccion-nosotros {
  position: relative;
  top: 70px;
  }


/**Hero**/

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  }

.carousel-inner {
    height: 750px; 
    transition:all 0.2s ease-in-out;
  }

  .carousel-inner .carousel-item img {
    object-fit: cover; 
    width: 100%;
    height: 750px;
  }
  .carousel-item{
    height: 300px;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .carousel-caption{
    z-index: 2;
  }
  .carousel-caption p{
    margin-top: 30px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
  }
  .carousel-caption h3{
    color: white;
  }
  
  /**Circle**/

  .circle{
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar los círculos verticalmente */
  flex-wrap: wrap;
  }
  .seccion-circulos{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 40px;
    border-bottom: rgba(69, 69, 70, 0.3) 1px solid;
  }
 
  .circle-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
  }
  .circle-ideas{
    position: relative;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .div-circle{
    margin: 30px 0;
  }
  .circulos {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }
  .overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff; 
     width: 100%;
     height: 100%; 
     display: flex;
     align-items: center;
    justify-content: center;
     flex-direction: column; 
    border-radius: 50%
}
.overlay p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    color: #fff;
}
.overlay .iconos-contenedor{
  font-size: 25px;
}
.circle-ideas:hover img{
    opacity: 0.2;
}
.circle-ideas:hover .overlay{
    opacity: 1;
}

  /**Card**/
  .clickable-div {
    cursor: pointer;
  }
   .card-investigacion{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 60%; 
  height: 600px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 20px;
  border: 1px solid rgba(69, 69, 70, 0.7);
  }
  .card-investigacion img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 5px 5px 0 0; /* Agregamos un borde redondeado solo en la parte superior */
  }
  .card-investigacion .card-body {
    padding: 10px;
    background-color: white;
    border-radius: 0 0 10px 10px; /* Borde redondeado solo en la parte inferior */
  }

  .card-body .card-title{
    font-size: 1.2rem;
  }
 .card-body .card-text{
  font-size: 1rem;
 }
 .close-card-button i {
  font-size: 1.8rem;
  color: #b1b1b1;
  transition: color 0.3s, border 0.3s;
  cursor: pointer;
}
.close-card-button i:hover {
  color: #000;
  font-size: 1.8rem;
}
.close-card-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
/**Desarrollamos**/

.develop-section {
  text-align: center;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fixed-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 60px;
}

.changing-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.changing-title {
  font-size: 1.5rem;
  color: #555;
  position: absolute;
  opacity: 0;
  transition: opacity opacity 3s ease-in-out;
}


 /**Figuras **/

 .contenedor-general{
  margin-top: 50px;
  margin-bottom: 40px;
  border-top: rgba(69, 69, 70, 0.3) 1px solid;
  padding: 70px;
}

.container__block-general{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 600px;
  height: 300px;
  margin: 0;
  padding: 0;
  position: relative; 
  perspective: 1000px;
  z-index: 3;
}
.container__block-general img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;;
}

.container__block-general .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(83, 81, 81, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  opacity: 0;
  transition-delay: 0.2s;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 5;
}

.container__block-general .card-back p {
  transform: rotateY(-180deg);
  top: 10%; 
  left: 10%; 
  width: 80%; 
  height: 80%;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container__block-general .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.container__block-general:hover .card-back,
    .container__block-general:hover img{
  opacity: 1;
  transform: rotateY(180deg);  
}
.seccion-rotativa{
  margin-top: 70px;
  margin-bottom: 40px;
  padding-bottom: 70px;
  border-bottom: rgba(69, 69, 70, 0.3) 1px solid;
}


/**Servicios **/

.seccion-servicio .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seccion-servicio .card-body i{
  font-size: 40px;
}
.btn-conocer-mas {
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 20px 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}
.seccion-servicio:hover .card,
.btn-conocer-mas:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/**Herder Servicios **/

.servicios-header {
  background-color:  #333;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios-header .titulo-menu-container-servicios h1 {
  color: white;
}

.servicios-header nav li a {
  color: white !important;
}

.main-section-sevicios {
  height: 100%;
  animation: slideInFromLeft 1s ease forwards;
  padding: 40px 0;
  margin: 60px 0;
}

.animated-text {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-image {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-text.active, .animated-image.active {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-text {
  animation: slideInLeft 1s ease forwards;
}

.animated-image {
  animation: slideInRight 1s ease forwards;
  animation-delay: 0.5s;
}
.main-section-sevicios p {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.img-fluid {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/**Seccion diseño**/

.section-diseño{
  margin-top: 85px;
  margin-bottom: 40px;
  text-align: center;
}

.titulo-diseño{
  margin-bottom: 50px;
}
.secion-diseño-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
}
.secion-diseño-contenido h3 {
  font-size: 40px;
  background-color: grey;
  border-radius: 50%; 
  width: 80px; 
  height: 80px; 
  text-align: center; 
  line-height: 80px; 
  color: white; 
 margin: 0 auto;
 margin-bottom: 20px;
}
.secion-diseño-contenido{
  font-size: 25px;
 
}
.podemos{
  font-size: 40px;
  font-weight: bold;
  margin: 40px 0;
}
.iconos-card i{
  font-size: 75px;
  padding-right: 20px;

}
.beneficios{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-beneficios .card-text{
  text-align: justify;
  font-size: 15px
}
.section-beneficios .card{
  height: 190px;
}


/**Formulario**/

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.seccion-formulario{
  margin-bottom: 40px;
  margin-top: 60px;
}
.seccion-formulario h2{
  margin-bottom: 30px;

}

/**Nosotros**/

.accordion-header {
  background-color: #f8f9fa; 
  border-color: #ddd; 
  transition: background-color 0.3s, border-color 0.3s; /* Agrega transiciones suaves */
}

.accordion-button {
  color: #333; 
}

.accordion-button:focus {
  border-color: 2px solid #343536;
}

.accordion-button[aria-expanded="true"] {
  background-color: #f8f9fa; 
}

/* Agrega la sombra al hacer hover */
.accordion-button:hover,
.accordion-button:focus {
  box-shadow: 0 0.1rem 0.4rem rgba(52, 58, 64, 0.15); /* Cambia el color de la sombra a gris oscuro */
}

.seccion-nosotros-titulo, .lista-nosotros{
  margin-top: 40px;
  margin-bottom: 60px;
  padding-right: 40px;
}
.seccion-nosotros-titulo p{
  margin-top: 20px;
  font-size: 20px;
}

.seccion-nosotros-conocenos{
  background-image: url('../img/bg-nosotros.webp');
  background-size: cover;
  background-position: center; 
  height: 400px;
  margin-top: 50px;
}
.seccion-nosotros-contenedor{
  margin-top: -280px;
  margin-bottom: 50px;
}
.parrafo-principal{
  font-size: 25px;
  margin-top: 40px;
  text-align: center;
}
.service {
  position: relative;
  overflow: hidden;
}

.service-content {
  position: relative;
}

.service-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s, transform 0.5s;
  object-fit: cover;
}

.service:hover .service-image {
  opacity: 1;
  transform: translateY(0);
}

/**Blog**/

.custom-margin-top {
  margin-top: 120px;
}
.articulo-inteligencia{
  margin-top: 150px;
  margin-bottom: 70px;
}
.aside-inteligencia{
  margin-top: 250px;
}
aside{
  border: rgba(52, 53, 54, 0.2) solid 1px;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
aside a{
  color: #333;
}
aside h3{
  margin-bottom: 30px;
}
.inteligencia h3{
  margin-bottom: 30px;
}
.img-inteligencia{
  width: 700px;
  height: 400px;
  margin-bottom: 30px;
}
.img-desarrollo{
  width: 700px;
  height: 600px;
  margin-bottom: 30px;
  margin-top: 30px;
  object-fit: cover;
}
.img-inteligencia-generaciones{
  width: 1100px;
  height: 450px;
  margin-bottom: 30px;
  object-fit: cover;
}
.img-aside{
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
}
.img-aside1{
  object-fit:scale-down !important;
}
.inteligencia{
  margin-bottom: 80px;
}
.titulo-inteligencia{
margin-bottom: 30px;
}


/**Contacto**/

.login__titulo{
  font-size: 55px;
  border-bottom: #454546 1px solid;
  margin: 130px 20px 120px 0;
}
.login__text{
  font-size: 20px;
  margin-bottom: 60px;
}
.iconos-contacto{
  font-size: 60px;
  margin-bottom: 10px;
}
.seccion-contacto{
  text-align: center;
  justify-content: center;
}
.seccion-contacto .link-contacto{
  border: 1px solid #454546;
  padding: 10px 40px;
  color: #343536;
  width: 100%;
  font-size: 17px;
}
.texto-contacto{
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.link-contacto:hover{
  background-color: #b1b1b1;
}
#map {
  height: 400px;
  width: 100%;
}
.mapa{
  margin-top: 120px;
  margin-bottom: 120px;
}
.info-contacto{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.seccion-privacidad{
  margin-top: 120px;
}
.seccion-privacidad h2{
  margin-bottom: 40px;
}






/**Icono whatsapp**/
 /* Estilos para el botón de WhatsApp */
 .whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.whatsapp-button i {
  font-size: 30px;
  color: white;
}


/**Footer**/

footer .row:first-child > div{
  flex: 1;
  padding: 20px;
  border-right: 1px solid #777; 
}
footer.container-fluid .col-md-3:first-child {
  border-left: 1px solid #777;
}

footer a, footer h3, footer p{
  color: #777;
}
.footer-social{
  font-size: 20px;
  margin-top: 20px;
}

footer a:hover {
  color: #ccc;
}




@media screen and (max-width: 290px){

  .servicios-header .titulo-menu-container-servicios h1{
    font-size: 32px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0 !important;
  }
  .servicios-header{
    padding: 0;
  }
  
  .servicios-header nav li a{
    font-size: 12px;
  }
  .main-section-sevicios p{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 10px 0 0 0;
  }
  .img-fluid {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  

  
}
  @media screen and (max-width: 570px) {
    .titulo-principal{
      padding-left: 40px;
    }
    .overlay p{
      font-size: 18px;
  }
    .titulo-menu-container h1{
      font-size: 2rem;
      margin: 0;
    }
    .principal.scrolled {
      height: 8%;
    }
    .carousel-caption h3{
      font-size: 17px;
      color: white;
      margin-top: 20px;
    }
    .carousel-caption p{
      font-size: 14px;
      color: white;
      margin-bottom: 20px;
    }

    .circle-ideas{
      width: 140px;
      height: 140px;
    }
    .card-investigacion{
      width: 90%;
      text-align: justify;
    }

    .card-investigacion img{
      height: 35%;
    }
    .card-body .card-title{
      font-size: 1rem;
    }
   .card-body .card-text, .btn-secondary{
    font-size: 0.8rem;
   }
   .contenedor-general{
    margin-top: 20px;
    margin-bottom: 20px;
   }
   .card-body h3, .card{
   font-size: 25px;
  }
  .seccion-servicio .card-body i {
    font-size: 25px;
  }
  .navbar-servicios{
    margin-top: 10px;
    text-align: center;
  }
  .img-fluid {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .section-beneficios .card{
    height: 100%;
  }
  .login__contenedor {
    padding: 0 10px; 
    margin: 0px;
  }
  .login__titulo{
    font-size: 40px;
    border-bottom: #454546 1px solid;
    margin: 0;
    margin-bottom: 40px;
  }
  .form-login{
    margin-bottom: 0px;
  }
  .link__login input{
    margin-bottom: 10px;
    
  }
  footer .row:first-child > div{
    border-right: none; 
  }
  footer.container-fluid .col-md-3:first-child {
    border-left: none;
  }
  .articulo-inteligencia, .aside-inteligencia{
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .aside-inteligencia{
    margin-top: 50px;
  }
  .articulo-inteligencia-2{
    margin-top: 90px;
  }
  aside{
    margin-bottom: 20px;
  }

  aside h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .inteligencia h3{
    margin-bottom: 30px;
  }
  .img-inteligencia{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  .img-desarrollo{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .img-inteligencia-generaciones{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .img-aside{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .inteligencia{
    margin-bottom: 20px;
  }
  .titulo-inteligencia{
  margin-bottom: 20px;
  }
 
  
  

  }
    
  @media (min-width: 570px) and (max-width: 800px){
    h1{
      font-size: 30px;
    }
    .contenedor-listas{
      gap: 20px;
    }
    .contenedor-listas li a{
      font-size: 15px;
    }
    .contenedor-listas li a i{
      font-size: 15px;
    }
    .contenedor-listas li .activo {
      font-size: 18px;
    }
    .servicios-header nav li a{
      font-size: 15px;
    }
    .main-section-sevicios img {
      width: 400px;
      height: 400px;
      margin-top: 50px;
    }
    .img-servicios img{
      width: 100%;
      height: 100%;;
    }
    .mapa{
      margin-top: 0px;
      margin-bottom: 60px;
    }

 
    
  }

  @media (min-width: 800px) and (max-width:1100px){
    h1{
      font-size: 30px;
    }
    .contenedor-listas{
      gap: 10px;
    }
    .contenedor-listas li a{
      font-size: 15px;
    }
    .contenedor-listas li .activo{
      font-size: 20px;
    }
    .contenedor-listas li i{
      font-size: 20px;
    }
    .main-section-sevicios img {
      margin-top: 50px;
    }
    .hero, .seccion-nosotros {
      position: relative;
      top: 60px;
      }
    .servicios-header .titulo-menu-container-servicios h1{
      font-size: 40px;
      padding-top: 10px;
      margin: 0 !important;
    }
  }
  @media (max-width:1200px){
    .contenedor-listas{
      gap: 30px;
    }
    .main-section-sevicios img {
      width: 400px;
      height: 400px;
  }
  .seccion-servicio:hover .card,
.btn-conocer-mas:hover{
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
.articulo-inteligencia, .aside-inteligencia{
  margin-top: 50px;
  margin-bottom: 20px;
}
.aside-inteligencia{
  margin-top: 250px;
}
aside{
  margin-bottom: 20px;
}

aside h3{
  margin-top: 20px;
  margin-bottom: 20px;
}
.inteligencia h3{
  margin-bottom: 30px;
}
.img-inteligencia{
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.img-desarrollo{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.img-inteligencia-generaciones{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.img-aside{
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
}
.inteligencia{
  margin-bottom: 20px;
}
.titulo-inteligencia{
margin-bottom: 20px;
}
.articulo-inteligencia-2, 
.articulo-inteligencia-3{
   margin-top: 80px;
}
.login__contenedor{
  margin-top: 60px;
}
.seccion-contacto{
  text-align: center;
  justify-content: center;
}
}
 



